@use "sass:math";

// Настройки
@import "_config/variables";
@import "_config/fonts";

// Миксины
@import "_mixins/reset";
@import "_mixins/media";
@import "_mixins/container";
@import "_mixins/flex";


*,
*::before,
*::after {
  box-sizing: border-box
}

html, body {
  @include reset-model;
  background-color: #181818;
  
  @include font-roboto-regular;
  font-size: $font-size-base;  
  line-height: $line-height-base; 
  color: $color-text-gray;

  &.show-sidebar,
  &.no-scroll{
    overflow: hidden;
  }
}


// Визуальное скрытие элементов
.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


// Изображения
img {
  max-width: 100%;
}


// Ограничение для макета
// .wrapper {
//   @include wrapper;
//   background-color: $color-bg-base;
//   color: $color-text-base;
// }

// Контентная область
.container {
  @include container;
}

// Подключение блоков
@import 'block/*.scss';