// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;


// Контейнер
$container-max-widths: 700px;
$container-padding: 50px;


// Контрольные точки
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;


// Шрифт
$font-family-base: 'Roboto';
$font-size-base: 14px;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-style-base: normal;


// Цвета
$color-bg-gray: #202020;
$color-bg-black: #121212;
$color-bg-red: #ED3024;
$color-bg-blue: #3137C9;
$color-bg-sea: #104BE3;
$color-bg-header: #0D0D0D;
$color-text-white: #fff;
$color-text-gray: #D2D2D2;
$color-text-supergray: #828282;
$color-text-blue: #107EFF;
$color-text-yelow: #F3EBA2;

// z-index
$z-index-sidebar: 1000;
$z-index-header: 1000;
