.burger{
  @include reset-button;
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 0;
  color: transparent;

  @include bp(lg){
    display: block;
  }

  
  span,
  &::after,
  &::before{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
  }

  &::after,
  &::before{
    content: "";
    transition: transform .2s linear;
  }

  &::after{
    bottom: 0;
  }

  &::before{
    top: 0;
  }

  span{
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .2s linear;
  }

  .show-sidebar &{
    span{
      opacity: 0;
    }

    &::after,
    &::before{
      top: 50%;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }
  }
}