.embed,
.fr-video{
  overflow: hidden;
  position: relative;

  &::before{
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  video,
  iframe,
  object,
  embed{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}