.form-list{
  @include reset-list;
  display: flex;
  justify-content: center;

  &__item{
    margin: 0 5px;
  }

  &__link{
    @include reset-link;
    @include font-roboto-regular;
    @include font(12px, 14px);
    color: $color-text-white;

    &:hover{
      text-decoration: underline;
    }
  }
}