.header-list{
  @include reset-list;
  display: flex;

  &__item{
    position: relative;
    transition: all .3s;
    &:hover{
      background-color: $color-bg-blue;

      > .header-sublist {
        display: block;
      }
    }
  }


  &__link{
    @include reset-link;
    @include font-roboto-regular;
    @include font(11px, 12px);
    display: block;
    text-transform: uppercase;
    color: $color-text-white;
    padding: 14px;
  }

  &__sublist{
    &:after{
      content: url("../img/arrow-down.svg");
      width: 10px;
      height: 6px;
      padding-left: 5px;
      position: relative;
      top: -1px;
      
    }
  }

  @include bp(lg){
    flex-direction: column;
    text-align: center;

    &__item:hover{
      background: none;
    }

    &__link{
      @include font(16px, 19px);
      @include font-roboto-light;
      text-transform: capitalize;
    }
  }

  @include bp(md){
    text-align: left;

    &__link{
      padding-left: 0;
      padding-right: 0;
      text-transform: capitalize;
    }
  }
}