.header{
  display: flex;
  width: calc(100% - 300px);
  background-color: #0D0D0D;
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;

  @include bp(lg){
    width: 100%;
  }

  &__left{
    width: 60%;
    @include bp(lg){
      width: 40%;
    }
  }

  &__right{
    width: 40%;
    display: flex;
    justify-content: flex-end;

    @include bp(lg){
      width: 60%;
    }
  }


}