.main{
  padding: 100px 0 80px 300px;

  @include bp(lg){
    padding-left: 0;

  }

  @include bp(md){
    padding-top: 70px;
    padding-bottom: 50px;
  }
  

  .container{
    @include bp(sm){
      padding: 0 15px;
    }
  }
}