.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  @include bp(lg){
    .show-sidebar & {

      position: relative;

    }
  }

  &__mask{

    @include bp(lg){
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($color-bg-black, .90);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }
  }

  &__title{
    @include reset-model;
    @include font-roboto-regular;
    @include font(21px, 21px);
    margin-bottom: 30px;
    color: $color-text-white;

    &_center{
      text-align: center;
    }

    &_centring{
      @include bp(lg){
        text-align: center;
      }
    }
  }
}