.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  &__title{
    @include reset-model;
    @include font-roboto-regular;
    @include font(21px, 21px);
    margin-bottom: 30px;
    color: $color-text-white;

    &_center{
      text-align: center;
    }
  }
}