.post-header{
  margin: 0 0 25px;

  &__title{
    @include reset-link;
    @include font-roboto-medium;
    @include font(18px, 21px);
    margin-bottom: 15px;
    color: $color-text-white;

    &_nomargin{
      @include reset-list;
    }
  }

  &_preview{
    margin: -25px -27px 25px;
  }

  &_open{
    margin-bottom: 30px;
  }

}