.post{
  background-color: $color-bg-gray;
  padding: 25px 27px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .35);
  border-radius: 5px;
  margin-bottom: 30px;

  @include bp(sm){
    padding: 13px 15px 18px;
  }


  &__content{
    margin-bottom: 20px;
  }

  &__img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;

    @include bp(sm){
      padding: 12px 12px;
      border-radius: 17px 17px 0 0;
    }
  }

}