.post-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include bp(sm){
    flex-direction: column;
    align-items: flex-start;
  }

  &__read{
    @include reset-link;
    @include font-lato-regular;
    @include font(14px, 17px);
    color: $color-text-blue;

    &:hover{
      text-decoration: underline;
    }
  }
}