.post-content{
  &__title-link{
    @include reset-link;
    @include font-roboto-medium;
    @include font(18px, 21px);
    margin-bottom: 15px;
    color: $color-text-white;

    &:hover{
      text-decoration: underline;
    }
  }

  &_borderbottom{
    border-bottom: 1px solid #1C1C1C;
  }
}