.post-list{
  @include reset-list;
  display: flex;

  @include bp(sm){
    margin-bottom: 5px;
  }

  &__item{
     &:not(:last-child):after{
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 15px;
      position: relative;
      top: -1px;

      border-radius: 50%;
      background-color: #C4C4C4;
    }
  }

  &__time{
    @include reset-model;
    @include font-lato-regular;
    @include font(12px, 15px);
    color: $color-text-supergray; 
  }

  &__category{
    @include reset-link;
    @include font-lato-regular;
    @include font(13px, 15px);
    color: $color-text-supergray;

    @include bp(sm){
      @include font(12px, 14px);
    }

    &:hover{
      text-decoration: underline;
    }
  }
}