.related-list{
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__item{
    width: 100%;
    margin-bottom: 25px;
  }

  &__link{
    @include reset-link;
    color: #F3EBA2;

    &:hover{
      text-decoration: underline;
    }
  }

  &__title{
    @include reset-model;
    @include font-roboto-medium;
    @include font(14px, 17px);
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__time{
    @include reset-model;
    @include font-lato-regular;
    @include font(12px, 14px);
    color: $color-text-supergray;
  }
}