.signup-form{
  margin: 60px auto 0 auto;
  max-width: 280px;

  &__group{
    margin-bottom: 25px;
  }

  &__btn{
    @include font-roboto-regular;
    @include font(12px, 14px);
    padding: 8px 14px;
    border-radius: 5px;
  }
}