.work-footer{
  margin-top: auto;
  text-align: right;

  @include bp(lg){
    text-align: center
  }

    &__btn{
      @include font-roboto-regular;
      @include font(12px, 14px);
      padding: 8px 14px;
      border-radius: 5px;
  }
}