.work-content{
  display: flex;
  flex-direction: column;
  max-width: 290px;
  padding: 28px 25px 25px 25px;

  @include bp(lg){
    margin: 0 auto;
    max-width: none;
  }

  &__title{
    @include reset-model;
    @include font-roboto-medium;
    @include font(24px, 28px);
    margin-bottom: 30px;
    color: $color-text-white;

    @include bp(sm){
      margin-bottom: 15px;
    }
  }

  &__link{
    @include reset-link;

    &:hover{
      text-decoration: underline;
    }
  }

  &__descr{
    @include reset-model;
    @include font-roboto-light;
    @include font(16px, 27px);
    max-width: 240px;
    margin-bottom: 30px;
    color: $color-text-gray;

    @include bp(lg){
      max-width: none;
    }
  }

}